@font-face {
    font-family: Poppins-Bold;
    src: url("/assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url("/assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url("/assets/fonts/Poppins-ExtraBold.ttf");
}

@font-face{
    font-family: Poppins-Regular;
    src: url("/assets/fonts/Poppins-Regular.ttf");
}
@import "tailwindcss";

@theme{
    --font-poppins-bold: Poppins-Bold, "sans-serif";
    --font-poppins-semi-bold: Poppins-SemiBold, "sans-serif";
    --font-poppins-extra-bold: Poppins-ExtraBold, "sans-serif";
    --font-poppins-regular: Poppins-Regular, "sans-serif";

    --color-cinza-claro: #FBFBFB;
    --color-verde-primario: #14745A;
    --color-verde-secundario: #7C9C91;
    --color-verde-terciario: #99CABD;
    --color-laranja: #F49C1F;
    --color-laranja-hover: #F7B14C;
}
