@font-face{
    font-family: Poppins-Regular;
    src: url("/assets/fonts/Poppins-Regular.ttf");
}
@font-face{
    font-family: Poppins-Bold;
    src: url("/assets/fonts/Poppins-Bold.ttf");
}
@font-face{
    font-family: Poppins-SemiBold;
    src: url("/assets/fonts/Poppins-SemiBold.ttf");
}
@font-face{
    font-family: Poppins-ExtraBold;
    src: url("/assets/fonts/Poppins-ExtraBold.ttf");
}
@import "tailwindcss";

@theme{

    --font-roboto-regular: Roboto-Regular, "sans-serif";
    --font-roboto-bold: Roboto-Bold, "sans-serif";
    --font-roboto-semiBold: Roboto-Semibold, "sans-serif";
    --font-doto: Doto, "sans-serif";

    --color-cinza-claro: #FBFBFB;
    --color-verde-primario: #14745A;
    --color-verde-secundario: #7C9C91;
    --color-verde-terciario: #99CABD;
    --color-laranja: #F49C1F;
}
